<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blogs</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Tech Blogs</h1>
    </header>
    <nav>
        <a href="">Home</a>
        <a href="">Dashboard</a>
        <a href="">Login</a>
        <a href="">Logout</a>
    </nav>
    <main>
        <div class="body">
            {{{body}}}
        </div>
    </main>
</body>

</html>







<head>
    <meta charset="utf-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div>
        <header class="flex-column justify-space-around">
            <h1>Tech Blog</h1>
        </header>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/">Dashboard</a>
        <a href="/">login</a>
        <a href="/">Logout</a>
    </nav>
    <main>
        <div class="">
            {{{body}}}
        </div>
    </main>
</body>

</html>