<head>
    <meta charset="utf-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div>
        <header class="flex-column justify-space-around">
            <h1>Tech Blog</h1>
        </header>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/">Dashboard</a>
        <a href="/">login</a>
        <a href="/">Logout</a>
    </nav>
    <main>
        <div class="">
            {{{body}}}
        </div>
    </main>
</body>

</html>